<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2019</p>
            <div class="h5">Bachelor Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Bachelor of computer science (honours) with a specialization in software engineering</div>
            <h4 class="category">Multimedia University</h4>
            <!--                                <ul>-->
            <!--                                    <li> R.V College Of Engineering(Affilated to VTU) <b>ranks 1st</b> in Karnataka </li>-->
            <!--                                        <li>Completed B.E in Computer Engineering with <b>8.1 CGPA</b>.</li>-->
            <!--                                </ul>-->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2021</p>
            <div class="h5">CERTIFICATE</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">OOP PHP 7</div>
            <h4 class="category">Udemy</h4>
            <ul>
              <li>Completed <b>OOP Object Oriented Programming In PHP 7</b>  </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>MARCH 2018 - JUNE 2018</p>
            <div class="h5">Industrial Training</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Software Engineer Intern</div>
            <h4 class="category">CNERGY MULTIMEDIA</h4>
            <!--            <ul>-->
            <!--              <li>Completed SSLC with <b>65.6%</b>.</li>-->
            <!--            </ul>-->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2010-2011</p>
            <div class="h5">CERTIFICATE</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">English Language Proficiency Certificate</div>
            <h4 class="category">International Balkan University – Skopje</h4>
            <ul>
              <li>Completed <b>English Language Proficiency Certificate</b> in <b>International Balkan University –
                Skopje</b> .
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
