.toolbar {
background-color: darkblue;
color: white;
}

.mat-sidenav-container {
  background-color: rgba(0, 22, 40, 0.938);
}


.mat-sidenav{
  background-color: darkblue;
  font-size: large;
}

.mat-list-item{
  color: white;
}

a {
  color: white;
}
