<div class="container">
  <div id="1" class="card">
    <span>
      <h4>Job: 		Trainee Front-end Developer </h4>
      <h5>Project: 	Admin panel (Can't show pictures of the project because of NDA) </h5>
      <h5>Code In:	HTML, SCSS, Javascript, Angular, Redux </h5>
      <h5>Platform:	Web Admin interface </h5>
      <h6>Year:	2019-Present</h6>
    </span>
    <span>
      <img src="assets/Front-end/1.PNG" title="Dependencies" />
      <img src="assets/Front-end/2.PNG" title="Dependencies" />
    </span>
  <h6> Note: Mouse over to enlarge the images.</h6>
  </div>

  <div id="2" class="card">
    <span>
      <h4>Job: 		Flight & Hotel Search Engine</h4>
      <h5>Code In:	SQL, PHP, JavaScript, HTML5, CSS (Laravel / Bootstrap & Other Relevant API Services) </h5>
      <h5>Platform:	Web </h5>
      <h6>Year:	2017 - 2019 </h6>
      <h6>Credits:	<a href="https://www.linkedin.com/in/djoshkun-diko/" target="_BLANK">Djoshkun D</a></h6>
      <span>
        <img src="assets/trc/1.png" title="" />
        <img src="assets/trc/2.png" title="" />
        <img src="assets/trc/3.png" title="" />
        <img src="assets/trc/4.png" title="" />
      </span>
      <h6> Note: Mouse over to enlarge the images.</h6>
    </span>
  </div>

  <div id="3" class="card">
    <span>
      <h4>Class: 		Final Year Project</h4>
      <h5>Project: A Stock Trading Journal Manager for traders in Malaysia to manage their post-trading activities efficiently by recording their trades, calculations of profit/loss, return of investments and statistics of trades.</h5>
      <h5>Code In: PHP, HTML5, CSS, MySQL, Bootstrap.</h5>
      <h5>Platform:	Windows server XAMP Apache </h5>
      <h6>Year:	2018-2019 </h6>
        <span>
          <img src="assets/Lets Bullish Trade/add Feedback.png" title="" />
          <img src="assets/Lets Bullish Trade/Add Transaction.png" title="" />
          <img src="assets/Lets Bullish Trade/Discussion Boards.png" title="" />
          <img src="assets/Lets Bullish Trade/Discussion Boards 2.png" title="" />
          <img src="assets/Lets Bullish Trade/Edit Forecasting.png" title="" />
          <img src="assets/Lets Bullish Trade/Edit Transaction.png" title="" />
          <img src="assets/Lets Bullish Trade/Forecasting.png" title="" />
          <img src="assets/Lets Bullish Trade/home.PNG" title="" />
          <img src="assets/Lets Bullish Trade/Login.png" title="" />
          <img src="assets/Lets Bullish Trade/manage trading.PNG" title="" />
          <img src="assets/Lets Bullish Trade/Stock Allocation.png" title="" />
          <img src="assets/Lets Bullish Trade/view statistic.PNG" title="" />
          <img src="assets/Lets Bullish Trade/view topic content.png" title="" />
        </span>
      <h6> Note: Mouse over to enlarge the images.</h6>
      <h6>Credits:	<a href="https://www.linkedin.com/in/djoshkun-diko/" target="_BLANK">Djoshkun D</a></h6>
    </span>
  </div>

  <div id="4" class="card">
    <span>
      <h4>Class: 		Algorithm Design and Analysis</h4>
      <h5>Project: Perform a comparative analysis between the sorting algorithms of heap-sort, quick-sort, radix-sort AND selection-sort.</h5>
      <h5>Code In:	C++ </h5>
      <h5>Platform:	Codeblocks & windows command shell </h5>
      <h6>Year:	2018 </h6>

      <span>
          <img src="assets/ALGORITHM DESIGN AND ANALYSIS/Main1.PNG" title="" />
          <img src="assets/ALGORITHM DESIGN AND ANALYSIS/Heap-Sort1.PNG" title="" />
      <img src="assets/ALGORITHM DESIGN AND ANALYSIS/Quick-Sort1.PNG" title="" />
      <img src="assets/ALGORITHM DESIGN AND ANALYSIS/Radix-Sort Algorithm.PNG" title="" />
      <img src="assets/ALGORITHM DESIGN AND ANALYSIS/Selection-Sort1.PNG" title="" />
      </span>
      <h6> Note: Mouse over to enlarge the images.</h6>
    </span>
  </div>

  <div id="5" class="card">
    <span>
      <h4>Class: 		Advanced Databases </h4>
      <h5>Project: Book Store </h5>
      <h5>Code In:	MySQL, PHP, HTML5, CSS (Bootstrap 3) </h5>
      <h5>Platform:	Web (DB Replication, Lamport Clock & Distributed System) </h5>
      <h6>Year:	2018 </h6>
      <span>
        <img src="assets/Operating System/1.jpg" title="" />
      </span>
      <h6> Note: Mouse over to enlarge the images.</h6>
      <h6>Credits:	<a href="https://www.linkedin.com/in/djoshkun-diko/" target="_BLANK">Djoshkun D</a></h6>
    </span>
  </div>

  <div id="6" class="card">
    <span>
      <h4>Class: 		Objected-Oriented Programming and Data Structures</h4>
      <h5>Project: Book List</h5>
      <h5>Code In:	C++ </h5>
      <h5>Platform:	Codeblocks & windows command shell </h5>
      <h5>Requirements: Create a template pointer-based stack class called XStack based on the standard stack ADT(push, pop, peek, isEmpty, makeEmpty methods).</h5>
      <h6>Year:	2017 </h6>
      <span>
          <img src="assets/Objected-Oriented Programming and Data Structures/BookList/1.PNG" title="" />
      </span>
      <h6> Note: Mouse over to enlarge the images.</h6>
    </span>
  </div>

  <div id="7" class="card">
    <span>
      <h4>Class: 		Objected-Oriented Programming and Data Structures</h4>
      <h5>Project: Card Game</h5>
      <h5>Code In:	C++ </h5>
      <h5>Platform:	Codeblocks & windows command shell </h5>
      <h5>Requirements: You are developing a card game for 4 players. The deck of 52 card has 4 suits from top to bottom: diamonds (D), clubs (C), hearts (H), and spades (S). </h5>
      <h6>Year:	2017 </h6>
      <span>
        <img src="assets/Objected-Oriented Programming and Data Structures/Card Game/Play1.PNG" title="" />
        <img src="assets/Objected-Oriented Programming and Data Structures/Card Game/Play2.PNG" title="" />
      </span>
      <h6> Note: Mouse over to enlarge the images.</h6>
    </span>
  </div>

  <div id="8" class="card">
    <span>
      <h4>Class: 		Objected-Oriented Programming and Data Structures</h4>
      <h5>Project: Cafe Menu Management</h5>
      <h5>Code In:	C++ (Object Oriented)</h5>
      <h5>Platform:	Codeblocks & Windows CLI  </h5>
      <h6>Year:	2017 </h6>
      <span>
        <img src="assets/oop/1.jpg" title="" />
        <img src="assets/oop/2.jpg" title="" />
        <img src="assets/oop/3.jpg" title="" />
      </span>
      <h6> Note: Mouse over to enlarge the images.</h6>
      <h6>Credits:	<a href="https://www.linkedin.com/in/djoshkun-diko/" target="_BLANK">Djoshkun D</a></h6>
    </span>
  </div>

  <div id="9" class="card">
    <span>
      <h4>Class: 		Operating Systems</h4>
      <h5>Project: Cpu Scheduling </h5>
      <h5>Code In:	C++ </h5>
      <h5>Platform:	Codeblocks & windows command shell </h5>
      <h5>Requirements: Perform implementation of all of the following CPU scheduling algorithms with a collection of processes, and also perform comparison of the given algorithms using different scheduling criteria.   </h5>
      <h6>Year:	2017 </h6>
      <span>
        <img src="assets/Operating System/1.jpg" title="" />
      </span>
      <h6> Note: Mouse over to enlarge the images.</h6>
      <h6>Credits:	<a href="https://www.linkedin.com/in/djoshkun-diko/" target="_BLANK">Djoshkun D</a></h6>
    </span>
  </div>
</div>
